// Max dimensions
$max-width: 1200px;
$min-width: 600px;

// Media queries
$vw-thin: 320px;
$vw-small: 640px;
$vw-medium: 820px;
$vw-large: 1024px;
$vw-huge: $max-width;

// Forms
$base-input-height: 36px;
$base-input-border-size: 1px;
$base-input-border-radius: 10px;